## Importacion de Librerias

In [61]:
import pandas as pd
import os

* Creacion de funcion para poder guardar las hojas del excel en un dataframe

In [3]:
# Funcion encargada de abrir y guardar cada hoja en una columna de dataframe
def load_excel_sheets(file_path, sheet_names):
    dataframes = {}
    for sheet_name in sheet_names:
        dataframes[sheet_name] = pd.read_excel(file_path, sheet_name=sheet_name)
    return dataframes

In [4]:
# Datos para implementacion de funcion load_excel_sheets
file_path = '../data/raw/Internet.xlsx'
sheet_names = [
    'Acc_vel_loc_sinrangos',
    'Velocidad_sin_Rangos',
    'Accesos_tecnologia_localidad',
    'Velocidad % por prov',
    'Totales VMD',
    'Totales Accesos Por Tecnología',
    'Accesos Por Tecnología',
    'Penetración-poblacion',
    'Penetracion-hogares',
    'Penetracion-totales',
    'Totales Accesos por velocidad',
    'Accesos por velocidad',
    'Dial-BAf',
    'Totales Dial-BAf',
    'Ingresos '
]

In [5]:
# Carga de DataFrames
dataframes = load_excel_sheets(file_path, sheet_names)

In [ ]:
def save_dataframes(dataframes, output_folder, file_format='xlsx'):
    # Veo si la carpeta existe sino la creo 
    if not os.path.exists(output_folder):
        os.makedirs(output_folder)
    
    for name, df in dataframes.items():
        # Define la ruta completa del archivo con la extensión apropiada
        file_path = f'{output_folder}/{name}.{file_format}'
        
        # Guarda en formato Excel o CSV según la extensión
        if file_format == 'xlsx':
            df.to_excel(file_path, index=False)
        elif file_format == 'csv':
            df.to_csv(file_path, index=False)
        else:
            print(f'Formato no soportado: {file_format}')
            continue
        
        print(f'Archivo {name} creado exitosamente')
save_dataframes(dataframes,'../data/raw/',file_format='csv')

# Limpiando Dataframes a Implementar

* Carga las hojas de los dataframe que voy a implmentar

In [59]:
acc_tecno_df = pd.read_csv('../data/raw/Accesos por Tecnología.csv')
poblacion_df = pd.read_csv('../data/raw/Penetración-poblacion.csv')
hogares_df = pd.read_csv('../data/raw/Penetracion-hogares.csv')

# Dataframe acc_tecno

In [23]:
acc_tecno_df.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,1,Buenos Aires,203297.0,2790663.0,1799013.0,150290.0,101294.0,5044557.0
1,2024,1,Capital Federal,70108.0,1177475.0,203756.0,4493.0,48879.0,1504711.0
2,2024,1,Catamarca,5901.0,11025.0,56542.0,1384.0,81.0,74933.0
3,2024,1,Chaco,11343.0,58929.0,64463.0,8404.0,12404.0,155543.0
4,2024,1,Chubut,26306.0,77217.0,26356.0,30867.0,9930.0,170676.0

In [24]:
acc_tecno_df.tail()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
981,2014,1,Santiago Del Estero,32567.0,3598.0,19.0,915.0,34.0,37133.0
982,2014,1,Tierra Del Fuego,21618.0,2837.0,648.0,1.0,2934.0,28038.0
983,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0
984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

En la última fila encontré una cadena de texto, mientras que la fila anterior tenía valores faltantes en todas sus columnas. Decidí eliminar la fila anterior del DataFrame debido a esto

In [35]:
acc_tecno_df = acc_tecno_df[:-2]
acc_tecno_df

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,1,Buenos Aires,203297,2790663,1799013,150290,101294,5044557
1,2024,1,Capital Federal,70108,1177475,203756,4493,48879,1504711
2,2024,1,Catamarca,5901,11025,56542,1384,81,74933
3,2024,1,Chaco,11343,58929,64463,8404,12404,155543
4,2024,1,Chubut,26306,77217,26356,30867,9930,170676
...,...,...,...,...,...,...,...,...,...
979,2014,1,Santa Cruz,18927,100,381,4092,3264,26764
980,2014,1,Santa Fe,322662,174296,3059,5951,644,506612
981,2014,1,Santiago Del Estero,32567,3598,19,915,34,37133
982,2014,1,Tierra Del Fuego,21618,2837,648,1,2934,28038
983,2014,1,Tucumán,129717,83,121,13,98,130032

trate de castiar los flotantes a enteros pero me salio un error debido a que habia cadenas de texto, asi que decidi castear de la columna tres en adelante a str para poder eliminar los ceros que son datos inecesarios

In [36]:
acc_tecno_df.iloc[:, 3:] = acc_tecno_df.iloc[:, 3:].applymap(lambda x: str(x).replace('.0', ''))
acc_tecno_df

C:\Users\Jesus Manuel Martine\AppData\Local\Temp\ipykernel_17116\2226258164.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  acc_tecno_df.iloc[:, 3:] = acc_tecno_df.iloc[:, 3:].applymap(lambda x: str(x).replace('.0', ''))

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,1,Buenos Aires,203297,2790663,1799013,150290,101294,5044557
1,2024,1,Capital Federal,70108,1177475,203756,4493,48879,1504711
2,2024,1,Catamarca,5901,11025,56542,1384,81,74933
3,2024,1,Chaco,11343,58929,64463,8404,12404,155543
4,2024,1,Chubut,26306,77217,26356,30867,9930,170676
...,...,...,...,...,...,...,...,...,...
979,2014,1,Santa Cruz,18927,100,381,4092,3264,26764
980,2014,1,Santa Fe,322662,174296,3059,5951,644,506612
981,2014,1,Santiago Del Estero,32567,3598,19,915,34,37133
982,2014,1,Tierra Del Fuego,21618,2837,648,1,2934,28038
983,2014,1,Tucumán,129717,83,121,13,98,130032

In [37]:
acc_tecno_df.dtypes

Año             object
Trimestre       object
Provincia       object
ADSL             Int64
Cablemodem       Int64
Fibra óptica     Int64
Wireless         Int64
Otros            Int64
Total            Int64
dtype: object

converti ahora los str a el tipo de dato entero para evitar errores en las operaciones

In [38]:
columns_to_convert_accesos = acc_tecno_df.columns[3:]
acc_tecno_df[columns_to_convert_accesos] = acc_tecno_df[columns_to_convert_accesos].apply(pd.to_numeric, errors='coerce').astype('Int64')

C:\Users\Jesus Manuel Martine\AppData\Local\Temp\ipykernel_17116\1512626320.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_tecno_df[columns_to_convert_accesos] = acc_tecno_df[columns_to_convert_accesos].apply(pd.to_numeric, errors='coerce').astype('Int64')

In [39]:
acc_tecno_df

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,1,Buenos Aires,203297,2790663,1799013,150290,101294,5044557
1,2024,1,Capital Federal,70108,1177475,203756,4493,48879,1504711
2,2024,1,Catamarca,5901,11025,56542,1384,81,74933
3,2024,1,Chaco,11343,58929,64463,8404,12404,155543
4,2024,1,Chubut,26306,77217,26356,30867,9930,170676
...,...,...,...,...,...,...,...,...,...
979,2014,1,Santa Cruz,18927,100,381,4092,3264,26764
980,2014,1,Santa Fe,322662,174296,3059,5951,644,506612
981,2014,1,Santiago Del Estero,32567,3598,19,915,34,37133
982,2014,1,Tierra Del Fuego,21618,2837,648,1,2934,28038
983,2014,1,Tucumán,129717,83,121,13,98,130032

# DataFrame Hogar

In [40]:
hogares_df.head(10)

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2024          1     Buenos Aires                         81.10
1  2024          1  Capital Federal                        119.53
2  2024          1        Catamarca                         68.82
3  2024          1            Chaco                         46.70
4  2024          1           Chubut                         84.89
5  2024          1          Córdoba                         90.70
6  2024          1       Corrientes                         51.94
7  2024          1       Entre Ríos                         69.31
8  2024          1          Formosa                         39.61
9  2024          1            Jujuy                         57.65

In [51]:
hogares_df.tail(10)

      Año  Trimestre            Provincia  Accesos por cada 100 hogares
974  2014          1              Neuquén                        49.792
975  2014          1            Río Negro                        44.914
976  2014          1                Salta                        28.700
977  2014          1             San Juan                        27.595
978  2014          1             San Luis                         9.347
979  2014          1           Santa Cruz                        28.939
980  2014          1             Santa Fe                        47.848
981  2014          1  Santiago Del Estero                        16.310
982  2014          1     Tierra Del Fuego                        63.966
983  2014          1              Tucumán                        33.421

redondeo a 3 decimales el Accesos por cada 100 hogares para facilitar la vista de los datos

In [52]:
hogares_df["Accesos por cada 100 hogares"] = hogares_df["Accesos por cada 100 hogares"].round(3)

In [53]:
hogares_df.tail()

      Año  Trimestre            Provincia  Accesos por cada 100 hogares
979  2014          1           Santa Cruz                        28.939
980  2014          1             Santa Fe                        47.848
981  2014          1  Santiago Del Estero                        16.310
982  2014          1     Tierra Del Fuego                        63.966
983  2014          1              Tucumán                        33.421

In [54]:
hogares_df["Provincia"].unique()

array(['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut',
       'Córdoba', 'Corrientes', 'Entre Ríos', 'Formosa', 'Jujuy',
       'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquén',
       'Río Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucumán'],
      dtype=object)

In [47]:
hogares_df[(hogares_df["Accesos por cada 100 hogares"] <= 120) & (hogares_df["Provincia"] == "Capital Federal")]

      Año  Trimestre        Provincia  Accesos por cada 100 hogares
1    2024          1  Capital Federal                       119.530
25   2023          4  Capital Federal                       117.020
49   2023          3  Capital Federal                       116.400
73   2023          2  Capital Federal                       115.480
193  2022          1  Capital Federal                       111.798
217  2021          4  Capital Federal                       111.270
241  2021          3  Capital Federal                       111.271
265  2021          2  Capital Federal                       110.144
289  2021          1  Capital Federal                       108.420
313  2020          4  Capital Federal                       108.311
337  2020          3  Capital Federal                       107.676
361  2020          2  Capital Federal                       106.415
385  2020          1  Capital Federal                       105.980
409  2019          4  Capital Federal                       106.245
433  2019          3  Capital Federal                       112.645
457  2019          2  Capital Federal                       110.546
481  2019          1  Capital Federal                       109.196
505  2018          4  Capital Federal                       108.273
529  2018          3  Capital Federal                       108.446
553  2018          2  Capital Federal                       106.535
577  2018          1  Capital Federal                       106.236
673  2017          1  Capital Federal                       108.369
769  2016          1  Capital Federal                       115.160
793  2015          4  Capital Federal                       118.130
817  2015          3  Capital Federal                       118.289
841  2015          2  Capital Federal                       116.066
865  2015          1  Capital Federal                       114.897
889  2014          4  Capital Federal                       114.897
913  2014          3  Capital Federal                       113.801
937  2014          2  Capital Federal                       113.143
961  2014          1  Capital Federal                       112.254

Basicamente tenemos que todos los datos de la Capital Federal son outliers asi que vamos a usar el primer dato del quartil debido a que no se puede verificar los datos

In [48]:
hogares_df[(hogares_df["Accesos por cada 100 hogares"] < 100)]["Accesos por cada 100 hogares"].quantile(0.25)

np.float64(32.67075)

In [63]:
hogares_df.loc[hogares_df["Accesos por cada 100 hogares"] > 100, "Accesos por cada 100 hogares"] -= 32.58
hogares_df[hogares_df["Accesos por cada 100 hogares"] > 100]

Empty DataFrame
Columns: [Año, Trimestre, Provincia, Accesos por cada 100 hogares]
Index: []

In [50]:
poblacion_df.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hab
0  2024          1     Buenos Aires                     27.80
1  2024          1  Capital Federal                     48.78
2  2024          1        Catamarca                     17.50
3  2024          1            Chaco                     12.48
4  2024          1           Chubut                     26.02

In [ ]:
poblacion_df.tail()

In [ ]:
poblacion_df["Accesos por cada 100 hab"] = poblacion_df["Accesos por cada 100 hab"].round(2)
poblacion_df

In [ ]:
poblacion_df.isnull().sum()

In [ ]:
penetracion_total_df = pd.read_csv('../data/raw/Penetracion-totales.csv')

In [ ]:
penetracion_total_df.head(10)

In [ ]:
penetracion_total_df.tail(10)

In [ ]:
penetracion_total_df[["Accesos por cada 100 hogares","Accesos por cada 100 hab"]] = penetracion_total_df[["Accesos por cada 100 hogares","Accesos por cada 100 hab"]] / 100
penetracion_total_df[["Accesos por cada 100 hogares","Accesos por cada 100 hab"]] = penetracion_total_df[["Accesos por cada 100 hogares","Accesos por cada 100 hab"]].round(3)

In [ ]:
acc_tecno_df.to_csv('../data/processed/accesos_por_tecnologia_limpio.csv', index=False)
hogares_df.to_csv('../data/processed/penetracion-hogares-limpio.csv', index=False)
poblacion_df.to_csv('../data/processed/Penetración-poblacion-limpio.csv', index=False)
penetracion_total_df.to_csv('../data/processed/Penetracion-totales.csv',index=False)